body{

    margin: 0;
    padding: 0;
    background: url(../img/fondologin3.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height:100vh;

}
.cuadro-logeo{
    width: 320px;
    height: 420px;
    background:#005958;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;    
}
.cuadro-logeo .avatar{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}

.cuadro-logeo h1, p{

    margin: 0;
    padding: 0 0 5px;
    text-align: center;
    font-size: 22px;
}


.cuadro-logeo label{

    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}

.cuadro-logeo input{

    width: 100%;
    margin-bottom: 10px;
}

.cuadro-logeo input[type="text"],
.cuadro-logeo input[type="password"]{
    
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
}

.cuadro-logeo input[type="submit"]{

    border: none;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    background-color: white;
    border-radius:20px ;
   

}
#ingdat{
    color: red;
    text-align: center;
}

.cuadro-logeo .g-signin2{

    padding-left: 70px;
}