
i.fas {
    color: rgb(141, 21, 21);
}

#completar{
    padding-left: 45%;
    color: red;
}
#valorar{

background-color: rgba(9, 5, 68, 0.753);
color: white;
}
.calificar {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.calificar input {
    position: absolute;
    top: -100px;
}

.calificar label {
    float: right;
    color: #c1b8b8;
    font-size: 30px;
}

.calificar label:hover,
.calificar label:hover~label,
.calificar input:checked~label {
    color: rgb(141, 21, 21);
}